<!DOCTYPE html>
<html>
  <head>
    <title>Spotify to Musixmatch Link</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Spotify to Musixmatch Link</h1>
      <form action="/" method="GET">
        <label for="input_link">Spotify Track/Album Link Or ISRC:</label>
        <input type="text" id="input_link" name="link" placeholder="Enter Spotify track link here">
        <button type="submit" id="process_button">Get links</button>
        <div class="loading" id="loading"></div>
      </form>
      <div class="output" id="output">
      {% if tracks_data %}
        <div class="row">
          {% for track in tracks_data %}
            {% if track.isrc %}
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                  <img src="{{ track.image }}" alt="{{ track.track_name }}">
                  <div class="card-details">
                    <h5 class="card-title">{{ track.track_name }}</h5>
                    <p class="card-text">Album: <a href="https://www.musixmatch.com/album/{{ track.album_id }}" class="card-link" target="_blank">{{ track.album_name }}</a></p>
                    <p class="card-text">ISRC: {{ track.isrc }}</p>
                    <p class="card-text">Track ID: {{ track.track_id }}</p>
                    <a href="{{ track.track_share_url }}" class="card-link" target="_blank">Musixmatch</a>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="card">
                <p class="card-text">{{ track }}</p>
              </div>
            {% endif %}

          {% endfor %}
        </div>
      {% endif %}
      <footer>
        <div class="github_link">
          <a href="https://github.com/AdelHashem/Spotify-Link-To-Musixmatch-Track-and-Album-webApp" target="_blank">
            <img src="https://raw.githubusercontent.com/simple-icons/simple-icons/develop/icons/github.svg" alt="GitHub Repo Link" style="width:50px;">
          </a>
        </div>
      </footer>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      
  </body>
</html>